<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="/image/logo.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">

        <img src="image/cloud.png">

            <h1>{{title}}</h1>

        <p class="msg"> Enter a location to get your weather!</p>

        <form>
            <input placeholder="Location">
            <button>Search</button>
        </form>

        <p id="message-1"></p>
        <p id="message-2"></p>
    </div>

    <p> Created by {{name}}</p>

    <script src="./js/client.js"></script>
</body>

</html>